* {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
}

/* header */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #1f2937;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #f9faf8;
    font-weight: 600;
}

.nav-bar ul {
    display: flex;
    list-style-type: none;
    gap: 2rem;
    font-size: 18px;
    color: #e5e7eb;
}

.nav-bar a {
    text-decoration: none;
    color: inherit;
}

/* hero */

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    background-color: #1f2937;
}

.hero-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    flex-basis: 450px;
}

.hero-title {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.hero-text {
    font-size: 18px;
    color: #e5e7eb;
}

.hero button {
    margin-top: 10px;
    width: 130px;
    background-color: #3882f6;
    color: #e5e7eb;
    border-style: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
}

.hero-image img {
    margin-left: 50px;
    width: 500px;
    height: 300px;
    object-fit: cover;
}

/* information */

.info {
    padding: 50px;
}

.information {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 600;
    color: #1f2937;
}

.box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box img {
    height: 200px;
    width: 250px;
    object-fit: cover;
    border: 4px solid #3882F6;
    border-radius: 15px;
}

.box div {
    width: 200px;
    text-align: center;
    margin-top: 15px;
    color: #4d4d4d;
}

/* quote */

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
    background-color: #e5e7eb;
}

.quote-container {
    padding: 50px;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
    margin-bottom: 10px;
}

.quote-author {
    align-self: flex-end;
    font-weight: 600;
    font-size: 20px;
    color: #1f2937;
}

/* sign up */

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.signup-container {
    display: flex;
    flex-basis: 50%;
    justify-content: space-between;
    background-color: #3882f6;
    padding: 30px 100px 30px 100px;
    border-radius: 7px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.signup-title {
    color: white;
    font-weight: 600;
    font-size: 20px;
}

.signup-text {
    color: white;
}

.button-container button {
    color: white;
    background-color: #3882f6;
    border: 2px solid white;
    border-radius: 7px;
    width: 120px;
    font-weight: 500;
    font-size: 15px;
    padding: 0 5px;
    cursor: pointer;
}

/* footer */

.footer {
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: #1f2937;
    color: white;
}